/*
    called a reset
    Universal header for all browsers
    border-box look up
    font weight will always be based off of Lato's given amounts in HTML 
*/


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    @include respond(phone) {
        font-size: 50%;
    }
}

body {
    box-sizing: border-box;
}